.video-preview {
  width: 300px;
  display: inline-block;
}

.video-info {
  display: inline-block;
  width: 300px;
}


.first {
  width: 250px;
}

p {
  width: 300px;
}

.video-preview2 {
  display: block;
}

.video-info2 {
  display: block;
}